source_code/aux_mcu/Debug/
source_code/aux_mcu/Release/
source_code/main_mcu/Debug/
source_code/main_mcu/Debug_V5/
source_code/main_mcu/Debug_V6/
source_code/main_mcu/Debug_V7/
source_code/main_mcu/Release/
source_code/main_mcu/Release_V5/
source_code/main_mcu/Release_V6/
source_code/main_mcu/Release_V7/
scripts/battery_monitor/*.txt
*Thumbs.db
*~
*.pyc
source_code/main_mcu/minible_emu.pro.user
source_code/build-*
